name: Run Discord Bot

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 */5 * * *"

jobs:
  run-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 301

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.13"

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install ffmpeg
          python -m pip install --upgrade pip
          pip install -r requirements/requirementsPY.txt

      - name: Run Bot
        run: python main.py
        env:
          DATABASE_TOKEN: ${{ secrets.GHUB_TOKEN }}
          DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_ID: ${{ github.run_id }}
          FRAN_CONTROL_TOKEN: ${{ secrets.FRAN_CONTROL_TOKEN }}
